In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

In [12]:
climate_data = pd.read_csv(r'..\Climate Data Clean.csv')
climate_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44387 entries, 0 to 44386
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44387 non-null  int64
 1   name        44387 non-null  object
 2   essround    44387 non-null  int64
 3   edition     44387 non-null  float64
 4   proddate    44387 non-null  object
 5   idno        44344 non-null  float64
 6   cntry       44387 non-null  object
 7   eneffap     43276 non-null  float64
 8   rdcenr      43836 non-null  float64
 9   cflsenr     43435 non-null  float64
 10  elgcoal     40690 non-null  float64
 11  elgngas     41042 non-null  float64
 12  elghydr     41885 non-null  float64
 13  elgnuc      40983 non-null  float64
 14  elgsun      42587 non-null  float64
 15  elgwind     42224 non-null  float64
 16  elgbio      39689 non-null  float64
 17  wrpwrct     44387 non-null  int64
 18  wrenexp     44387 non-null  int64
 19  wrdpimp     44387 non-null  int64
 20  wrdpfos     44387 non-null  int64
 21  wrntdis     44387 non-null  int64
 22  wrinspw     44387 non-null  int64
 23  wrtcfl      44387 non-null  int64
 24  wrtratc     44387 non-null  int64
 25  clmchng     44387 non-null  int64
 26  clmthgt1    44387 non-null  int64
 27  clmthgt2    44387 non-null  int64
 28  ccnthum     41885 non-null  float64
 29  ccrdprs     41927 non-null  float64
 30  wrclmch     44387 non-null  int64
 31  ccgdbd      41232 non-null  float64
 32  lkredcc     41132 non-null  float64
 33  lklmten     41410 non-null  float64
 34  gvsrdcc     41078 non-null  float64
 35  ownrdcc     41654 non-null  float64
 36  inctxff     44387 non-null  int64
 37  sbsrnen     44387 non-null  int64
 38  banhhap     44387 non-null  int64
dtypes: float64(19), int64(17), object(3)
memory usage: 13.2+ MB

In [13]:
climate_data.sample(5)

,Unnamed: 0,name,essround,edition,proddate,idno,cntry,eneffap,rdcenr,cflsenr,...,ccrdprs,wrclmch,ccgdbd,lkredcc,lklmten,gvsrdcc,ownrdcc,inctxff,sbsrnen,banhhap
16055,16055,ESS8e02_1,8,2.1,01.12.2018,12846.0,Finland,10.0,2.0,8.0,...,8.0,3,5.0,7.0,2.0,1.0,5.0,3,2,2
29436,29436,ESS8e02_1,8,2.1,01.12.2018,2626.0,Italy,6.0,4.0,5.0,...,7.0,3,8.0,6.0,6.0,6.0,6.0,3,3,3
603,603,ESS8e02_1,8,2.1,01.12.2018,1167.0,Austria,10.0,5.0,2.0,...,0.0,2,3.0,3.0,3.0,2.0,3.0,4,4,2
29239,29239,ESS8e02_1,8,2.1,01.12.2018,2221.0,Italy,NaN,3.0,8.0,...,10.0,3,0.0,8.0,3.0,0.0,5.0,3,3,1
33848,33848,ESS8e02_1,8,2.1,01.12.2018,41121380.0,Netherlands,5.0,3.0,8.0,...,7.0,5,5.0,6.0,4.0,8.0,6.0,2,2,4

In [31]:
# Create mapping dictionary for 'elg' columns
elg_mapping_dict = {
    1: 'A very large amount',
    2: 'A large amount',
    3: 'A medium amount',
    4: 'A small amount',
    5: 'None at all',
    6: np.nan, # We will replace the 6 values with NaN as they are not expected
    7: np.nan, # We will replace the 7 values with NaN as they are not expected
    8: np.nan, # We will replace the 8 values with NaN as they are not expected
    9: np.nan, # We will replace the 9 values with NaN as they are not expected
}

# Get all column names that start with 'elg'
elg_cols = [col for col in climate_data.columns if col.startswith('elg')]

# Replace the values in the 'elg' columns
for col in elg_cols:
    climate_data[col] = climate_data[col].replace(elg_mapping_dict)

# Check the unique values in the 'elg' columns
for col in elg_cols:
    print(f"Unique values in {col}: {climate_data[col].unique()}\n")

Unique values in elgcoal: ['None at all' 'A medium amount' 'A large amount' 'A small amount' nan
 'A very large amount']

Unique values in elgngas: ['None at all' 'A large amount' 'A small amount' 'A medium amount'
 'A very large amount' nan]

Unique values in elghydr: ['A very large amount' 'A large amount' 'A medium amount' 'None at all'
 'A small amount' nan]

Unique values in elgnuc: ['None at all' 'A small amount' 'A medium amount' 'A large amount'
 'A very large amount' nan]

Unique values in elgsun: ['A very large amount' 'A large amount' 'A medium amount' 'A small amount'
 nan 'None at all']

Unique values in elgwind: ['A very large amount' 'None at all' 'A medium amount' 'A large amount'
 nan 'A small amount']

Unique values in elgbio: ['A very large amount' 'None at all' 'A small amount' 'A medium amount'
 'A large amount' nan]

In [32]:
# Create mapping dictionary for "wr.." columns
wr_mapping_dict = {
    1: 'Not at all worried',
    2: 'Not very worried',
    3: 'Somewhat worried',
    4: 'Very worried',
    5: 'Extremely worried',
    6: np.nan, # We will replace the 6 values with NaN as they are not expected
    7: np.nan, # We will replace the 7 values with NaN as they are not expected
    8: np.nan, # We will replace the 8 values with NaN as they are not expected
    9: np.nan, # We will replace the 9 values with NaN as they are not expected
}

# Get all column names that start with 'wr'
wr_cols = [col for col in climate_data.columns if col.startswith('wr')]

# Replace the values in the 'wr' columns
for col in wr_cols:
    climate_data[col] = climate_data[col].replace(wr_mapping_dict)

# Check the unique values in the 'wr' columns
for col in wr_cols:
    print(f"Unique values in {col}: {climate_data[col].unique()}\n")

Unique values in wrpwrct: ['Not very worried' 'Not at all worried' 'Somewhat worried' 'Very worried'
 'Extremely worried' nan]

Unique values in wrenexp: ['Somewhat worried' 'Not very worried' 'Very worried' 'Not at all worried'
 'Extremely worried' nan]

Unique values in wrdpimp: ['Very worried' 'Not very worried' 'Somewhat worried' 'Not at all worried'
 nan 'Extremely worried']

Unique values in wrdpfos: ['Very worried' 'Somewhat worried' 'Not very worried' nan
 'Not at all worried' 'Extremely worried']

Unique values in wrntdis: ['Not very worried' 'Not at all worried' 'Somewhat worried' 'Very worried'
 'Extremely worried' nan]

Unique values in wrinspw: ['Not very worried' 'Not at all worried' 'Somewhat worried' nan
 'Extremely worried' 'Very worried']

Unique values in wrtcfl: ['Not very worried' 'Somewhat worried' 'Very worried' 'Not at all worried'
 'Extremely worried' nan]

Unique values in wrtratc: ['Somewhat worried' 'Not very worried' 'Extremely worried'
 'Not at all worried' 'Very worried' nan]

Unique values in wrclmch: ['Very worried' 'Somewhat worried' 'Not very worried' 'Not at all worried'
 'Extremely worried' nan]

In [33]:
# Create a list of the columns which have the same likely pattern
likely_cols = ['eneffap', 'lkredcc', 'lklmten', 'gvsrdcc', 'ownrdcc']

# Create mapping dictionary for likely_cols columns
likely_mapping_dict = {
    0: 'Not at all likely',
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6',
    7: '7',
    8: '8',
    9: '9',
    10: 'Extremely likely'
}

# Replace the values in the likely_cols columns
for col in likely_cols:
    climate_data[col] = climate_data[col].replace(likely_mapping_dict)

# Check the unique values in the likely_cols columns
for col in likely_cols:
    print(f"Unique values in {col}: {climate_data[col].unique()}\n")

Unique values in eneffap: ['8' 'Extremely likely' '9' '6' '7' nan '5' 'Not at all likely' '4' '3'
 '2' '1']

Unique values in lkredcc: ['Extremely likely' '8' '6' '5' '7' nan '3' 'Not at all likely' '2' '4'
 '9' '1']

Unique values in lklmten: ['Not at all likely' '3' '1' '6' 'Extremely likely' '5' '2' '4' '7' nan
 '8' '9']

Unique values in gvsrdcc: ['Not at all likely' '4' '3' '5' '2' '1' '7' '6' nan '8'
 'Extremely likely' '9']

Unique values in ownrdcc: ['Not at all likely' '6' '1' '7' '3' '8' '2' '4' '5' nan
 'Extremely likely' '9']

In [34]:
# Create a list of the columns which have the same favour pattern
favour_cols = ['inctxff', 'sbsrnen', 'banhhap']

# Create mapping dictionary for favour_cols columns
favour_mapping_dict = {
    1: 'Strongly in favour',
    2: 'Somewhat in favour',
    3: 'Neither in favour nor against',
    4: 'Somewhat against',
    5: 'Strongly against',
    7: np.nan, # We will replace the 7 values with NaN as they are not expected
    8: np.nan, # We will replace the 8 values with NaN as they are not expected
    9: np.nan, # We will replace the 9 values with NaN as they are not expected
}

# Replace the values in the likely_cols columns
for col in favour_cols:
    climate_data[col] = climate_data[col].replace(favour_mapping_dict)

# Check the unique values in the likely_cols columns
for col in favour_cols:
    print(f"Unique values in {col}: {climate_data[col].unique()}\n")

Unique values in inctxff: ['Strongly in favour' 'Somewhat against' 'Neither in favour nor against'
 'Strongly against' 'Somewhat in favour' nan]

Unique values in sbsrnen: ['Strongly in favour' 'Somewhat in favour' 'Neither in favour nor against'
 'Strongly against' 'Somewhat against' nan]

Unique values in banhhap: ['Somewhat in favour' 'Neither in favour nor against' 'Somewhat against'
 'Strongly in favour' 'Strongly against' nan]

In [35]:
# Create mapping dictionary for rdcenr column
rdcenr_mapping_dict = {
    1: 'Never',
    2: 'Hardly ever',
    3: 'Sometimes',
    4: 'Often',
    5: 'Very often',
    6: 'Always'
}

# Replace the values in the rdcenr column
climate_data['rdcenr'] = climate_data['rdcenr'].replace(rdcenr_mapping_dict)

# Check the unique values in the rdcenr column
print(f"Unique values in rdcenr: {climate_data['rdcenr'].unique()}\n")

Unique values in rdcenr: ['Often' 'Very often' 'Always' 'Sometimes' 'Hardly ever' 'Never' nan]

In [36]:
# Create mapping dictionary for cflsenr column
cflsenr_mapping_dict = {
    0: 'Not at all confident',
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6',
    7: '7',
    8: '8',
    9: '9',
    10: 'Completely confident'
}

# Replace the values in the cflsenr column
climate_data['cflsenr'] = climate_data['cflsenr'].replace(cflsenr_mapping_dict)

# Check the unique values in the lcflsenr column
print(f"Unique values in cflsenr: {climate_data['cflsenr'].unique()}\n")

Unique values in cflsenr: ['Completely confident' '3' '7' '5' '8' '1' '6' '2' '4' nan
 'Not at all confident' '9']

In [37]:
# Create mapping dictionary for clmchng column
clmchng_mapping_dict = {
    1: 'Definitely changing',
    2: 'Probably changing',
    3: 'Probably not changing',
    4: 'Definitely not changing',
    7: np.nan, # We will replace the 7 values with NaN as they are not expected
    8: np.nan, # We will replace the 8 values with NaN as they are not expected
    9: np.nan, # We will replace the 9 values with NaN as they are not expected
}

# Replace the values in the clmchng column
climate_data['clmchng'] = climate_data['clmchng'].replace(clmchng_mapping_dict)

# Check the unique values in the clmchng column
print(f"Unique values in clmchng: {climate_data['clmchng'].unique()}\n")

Unique values in clmchng: ['Definitely changing' 'Probably changing' 'Probably not changing'
 'Definitely not changing' nan]

In [38]:
# Create mapping dictionary for ccnthum column
ccnthum_mapping_dict = {
    1: 'Entirely by natural processes',
    2: 'Mainly by natural processes',
    3: 'About equally by natural processes and human activity',
    4: 'Mainly by human activity',
    5: 'Entirely by human activity'
}

# Replace the values in the ccnthum column
climate_data['ccnthum'] = climate_data['ccnthum'].replace(ccnthum_mapping_dict)

# Check the unique values in the ccnthum column
print(f"Unique values in ccnthum: {climate_data['ccnthum'].unique()}\n")

Unique values in ccnthum: ['Mainly by human activity'
 'About equally by natural processes and human activity'
 'Mainly by natural processes' 'Entirely by human activity' nan
 'Entirely by natural processes']

In [39]:
# Create mapping dictionary for ccrdprs column
ccrdprs_mapping_dict = {
    0: 'Not at all',
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6',
    7: '7',
    8: '8',
    9: '9',
    10: 'A great deal'
}

# Replace the values in the ccrdprs column
climate_data['ccrdprs'] = climate_data['ccrdprs'].replace(ccrdprs_mapping_dict)

# Check the unique values in the ccrdprs column
print(f"Unique values in cflsenr: {climate_data['ccrdprs'].unique()}\n")

Unique values in cflsenr: ['8' '7' '6' '5' 'Not at all' '4' '2' '1' 'A great deal' nan '3' '9']

In [40]:
# Create mapping dictionary for ccgdbd column
ccgdbd_mapping_dict = {
    0: 'Extremely bad',
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6',
    7: '7',
    8: '8',
    9: '9',
    10: 'Extremely good'
}

# Replace the values in the ccgdbd column
climate_data['ccgdbd'] = climate_data['ccgdbd'].replace(ccgdbd_mapping_dict)

# Check the unique values in the ccgdbd column
print(f"Unique values in ccgdbd: {climate_data['ccgdbd'].unique()}\n")

Unique values in ccgdbd: ['Extremely good' '2' '7' '5' '3' '4' '1' '6' '8' 'Extremely bad' nan '9']

In [41]:
# Create a list of the columns clmthgt1 and clmthgt2
clmthgt_cols = ['clmthgt1', 'clmthgt2']

# Create mapping dictionary for clmthgt columns
clmthgt_mapping_dict = {
    1: 'Not at all',
    2: 'Very little',
    3: 'Some',
    4: 'A lot',
    5: 'A great deal',
    6: np.nan, # We will replace the 7 values with NaN as they are not expected
    7: np.nan, # We will replace the 7 values with NaN as they are not expected
    8: np.nan, # We will replace the 8 values with NaN as they are not expected
    9: np.nan, # We will replace the 9 values with NaN as they are not expected
}

# Replace the values in the clmthgt columns
for col in clmthgt_cols:
    climate_data[col] = climate_data[col].replace(clmthgt_mapping_dict)

# Check the unique values in the clmthgt columns
for col in clmthgt_cols:
    print(f"Unique values in {col}: {climate_data[col].unique()}\n")

Unique values in clmthgt1: [nan 'Very little' 'A lot' 'Some' 'Not at all' 'A great deal']

Unique values in clmthgt2: ['A lot' 'Some' 'Very little' 'Not at all' 'A great deal' nan]

In [42]:
# check the entire dataframe
climate_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44387 entries, 0 to 44386
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44387 non-null  int64
 1   name        44387 non-null  object
 2   essround    44387 non-null  int64
 3   edition     44387 non-null  float64
 4   proddate    44387 non-null  object
 5   idno        44344 non-null  float64
 6   cntry       44387 non-null  object
 7   eneffap     43276 non-null  object
 8   rdcenr      43836 non-null  object
 9   cflsenr     43435 non-null  object
 10  elgcoal     40690 non-null  object
 11  elgngas     41042 non-null  object
 12  elghydr     41885 non-null  object
 13  elgnuc      40983 non-null  object
 14  elgsun      42587 non-null  object
 15  elgwind     42224 non-null  object
 16  elgbio      39689 non-null  object
 17  wrpwrct     43945 non-null  object
 18  wrenexp     43955 non-null  object
 19  wrdpimp     42932 non-null  object
 20  wrdpfos     42569 non-null  object
 21  wrntdis     43925 non-null  object
 22  wrinspw     43675 non-null  object
 23  wrtcfl      43829 non-null  object
 24  wrtratc     43686 non-null  object
 25  clmchng     43289 non-null  object
 26  clmthgt1    966 non-null    object
 27  clmthgt2    43163 non-null  object
 28  ccnthum     41885 non-null  object
 29  ccrdprs     41927 non-null  object
 30  wrclmch     42654 non-null  object
 31  ccgdbd      41232 non-null  object
 32  lkredcc     41132 non-null  object
 33  lklmten     41410 non-null  object
 34  gvsrdcc     41078 non-null  object
 35  ownrdcc     41654 non-null  object
 36  inctxff     42401 non-null  object
 37  sbsrnen     42983 non-null  object
 38  banhhap     42699 non-null  object
dtypes: float64(2), int64(2), object(35)
memory usage: 13.2+ MB

In [44]:
from pathlib import Path

filepath = Path(r'..\Climate_Data_Label.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
climate_data.to_csv(filepath)